DBCONNECTSTRING = 'postgres:$PG_PASSWORD@itr-postgresql:5432/'
DBENGINE = 'postgresql+psycopg2://'
DBPREFIX = '$DBPREFIX'
DBFOLDER = ''
SQLPATH = ''
ENABLE_CORS = 'N'
USETABLESPACE = 'N'
USETABLESPACEPOSTFIX = ''
CONNECTIONPOOLSIZE=5
CONNECTIONLOGGING='N'

WEBFOLDER='/usr/share/nginx/html'
EXTERNALAPIFOLDER='/etc/ITR/Public-API'

#MAXNUMBEROFCONSULTANTS = 2


